<html>
    <!-- 로그인페이지 만들기 -->
    <title>
        <head>login</head>
    </title>
    <body>
        <h1>login</h1>
        <form method="post" action="login">
            <h3 style="color:DodgerBlue;">id</h3>
            <input type="text" name="id" id="id"/>
            <br/>
            <h3 style="color:Tomato;">pw</h3>
            <input type="password" name="pw" id="pw"/>
            <br/>
            <input type="submit" value="login"/>
            <a href="join">join</a>
        </form>
    </body>
</html>